@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

.header {
    margin-top: 100px;
    margin-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  
    header.fixed-top-added {
    padding-top: 10px;
    }
  
    .hero-content {
    margin-top: 10px;
    }

    .title{
    font-family: 'Gelasio', serif;
    font-weight: bold;
    letter-spacing: 1.3rem;
    text-align: center;
    opacity: 0;
    animation: fadeSimple 0.5s ease-in-out 0.5s forwards;
    }

    .abouttitle{
        text-align: center;
    }
    
    .parragraph{
    text-align: justify;
    opacity: 0;
    animation: fadeSimple 1.5s ease-in-out 1.5s forwards;
    }
    
  
}

  
@media (max-width: 1100px) {
    .header{
        .pair-btns-list{
            margin-right: 0px;
        }
          
    }
  
}
  
@media (max-width: 900px) {
    .header{
        margin-top: 50px;

        .title{
            text-align: center;
            font-family: 'Gelasio', serif;
        }

        .parragraph{
        text-align: justify;
        }
    
        .hero-img {
        margin-top: 100px;
        }

        .image{
            max-width: 100px;  
        }
    
        header .hero-content {
        margin-bottom: 110px;
        text-align: center;
        }

        .pair-btns-list{
            display: inline-block;
            text-align: center;
            opacity: 0;
            animation: fadeSimple 2.5s ease-in-out 2.5s forwards;

            .custom-button{
                margin: 10px;
            }
        }
          
    }
  
}

@keyframes fadeSimple {
    from {
        opacity: 0.0008;
    }

    to {
        opacity: 1;
    }
}

